{
  "presets": [
    "env",
    "stage-1",
    "stage-2",
    "react"
  ],
  "plugins": [
    "add-module-exports"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    },
    "test": {
      "presets": [
        "env",
        "stage-1",
        "stage-2",
        "react"
      ],
      "plugins": [
        "add-module-exports",
        "dynamic-import-node"
      ]
    }
  }
}
