@import "../../../assets/css/index";
@import "./picker-panel.less";

.@{prefixClass} {
  &-date-picker {
    min-width: 300px;

    &.has-sidebar.has-time {
      min-width: 434px;
    }

    &.has-sidebar {
      min-width: 370px;
    }

    &.has-time {
      min-width: 324px;
    }

    &.has-time .el-picker-panel__body-wrapper {
      position: relative;
    }

    .el-picker-panel__content {
      min-width: 224px;
    }

    table {
      table-layout: fixed;
      width: 100%;
    }

    &__editor-wrap {
      position: relative;
      display: table-cell;
      padding: 0 5px;
    }

    &__time-header {
      position: relative;
      border-bottom: 1px solid @datepicker-border-color;
      font-size: 12px;
      padding: 8px 5px 5px 5px;
      display: table;
      width: 100%;
      box-sizing: border-box;
    }

    &__header {
      padding: 25px 21px 21px 21px;
      text-align: center;
      .clearfix;
      // 样式覆盖
      .fishd-popover-inner-content {
        padding: 8px 0;
      }
    }

    &__header-label {
      font-family: PingFangSC-Medium;
      font-size: 14px;
      text-align: center;
      cursor: pointer;
      &:hover,&.active {
        color: @datepicker-active-color;
      }
    }

    &__header-label + &__header-label {
      margin-left: 8px;
    }

    &__prev-btn {
      float: left;
    }

    &__prev-btn + &__prev-btn {
      margin-left: 8px;
    }

    &__next-btn {
      float: right;
    }

    &__next-btn + &__next-btn {
      margin-right: 8px;
    }

    &__time-wrap {
      padding: 10px;
      text-align: center;
    }

    &__time-label {
      float: left;
      cursor: pointer;
      line-height: 30px;
      margin-left: 10px;
    }
  }
}
