@import "../../../assets/css/index";

.@{prefixClass} {
  // 输入框统一样式
  &-date-editor {
    position: relative;
    display: inline-block;

    &--time,timeselect {
      width: 144px;
    }

    &--date,&--week {
      width: 300px;
    }

    &--datetime {
      width: 310px;
    }

    &--daterange,&--datetimerange {
      width: 400px;
      border: 1px solid @border-color-base;
      display: flex;
      // 清除2个Input的样式
      .fishd-input {
        border: 0;
        min-width: 193px;
        &:hover,&:focus {
          box-shadow: none;
          border: none;
        }
      }
      .range-separator {
        display: flex;
        align-items: center;
        &.disabled {
          color: #666;
          background-color: #F2F2F5;
          cursor: not-allowed;
        }
      }
      &.is-active {
        border: 1px solid #5c9dff;
      }
      &:hover:not(.disabled) {
        border-color: #5c9dff;
        transition: all .3s;
      }
    }

    .prefix-iconfont,.suffix-iconfont {
      color: #ccc;
    }

    .suffix-iconfont {
      &:hover {
        color: @text-9;
        cursor: pointer;
      }
    }

    .fishd-input-suffix {
      display: none;
    }

    &:hover,&:focus {
      .fishd-input-suffix {
        display: inline;
      }
    }
  }
}
