@import "../../../assets/css/index";

.@{prefixClass} {
  // 输入框统一样式
  &-date-editor {
    position: relative;
    display: inline-block;

    .fishd-input {
      min-width: 134px;
    }

    &--time,timeselect {
      min-width: 134px;
    }

    &--datetime,&--date,&--week {
      min-width: 300px;
    }

    &--daterange {
      min-width: 220px;
      border: 1px solid @border-color-base;
      display: flex;
      .fishd-input {
        border: 0;
        min-width: 193px;
      }
    }

    &--datetimerange {
      border: 1px solid @border-color-base;
      min-width: 340px;
      display: flex;
      .fishd-input {
        border: 0;
        min-width: 193px;
      }
    }

    .prefix-iconfont,.suffix-iconfont {
      color: #ccc;
    }

    .suffix-iconfont {
      &:hover {
        color: @text-9;
        cursor: pointer;
      }
    }
  }
}
