/* stylelint-disable declaration-no-important */

/* emoji.less 中已有的 class 这里就不添加了*/

.@{rich-editor-prefix}-emoji-popover {

  .emoji-con {

    .popo-emoji-item {
      display: inline-block;
      width: 22px;
      height: 20px;
      padding: 0;
      background: @component-background url('//res.qiyukf.net/popoEmoji/1db9cdcfa8d23a0d22e0dc49b3fa7670') no-repeat;
      background-size: 22px auto;
      outline: none;
      border: none;
      cursor: pointer;
    }

    .popoEmoji-001 {
      background-position: -0 -0px;
    }

    .popoEmoji-002 {
      background-position: -0 -22px;
    }

    .popoEmoji-003 {
      background-position: -0 -44px;
    }

    .popoEmoji-004 {
      background-position: -0 -66px;
    }

    .popoEmoji-005 {
      background-position: -0 -88px;
    }

    .popoEmoji-006 {
      background-position: -0 -110px;
    }

    .popoEmoji-007 {
      background-position: -0 -132px;
    }

    .popoEmoji-008 {
      background-position: -0 -154px;
    }

    .popoEmoji-009 {
      background-position: -0 -176px;
    }

    .popoEmoji-010 {
      background-position: -0 -198px;
    }

    .popoEmoji-011 {
      background-position: -0 -220px;
    }

    .popoEmoji-012 {
      background-position: -0 -242px;
    }

    .popoEmoji-013 {
      background-position: -0 -264px;
    }

    .popoEmoji-014 {
      background-position: -0 -286px;
    }

    .popoEmoji-015 {
      background-position: -0 -308px;
    }

    .popoEmoji-016 {
      background-position: -0 -330px;
    }

    .popoEmoji-017 {
      background-position: -0 -352px;
    }

    .popoEmoji-018 {
      background-position: -0 -374px;
    }

    .popoEmoji-019 {
      background-position: -0 -396px;
    }

    .popoEmoji-020 {
      background-position: -0 -418px;
    }

    .popoEmoji-021 {
      background-position: -0 -440px;
    }

    .popoEmoji-022 {
      background-position: -0 -462px;
    }

    .popoEmoji-023 {
      background-position: -0 -484px;
    }

    .popoEmoji-024 {
      background-position: -0 -506px;
    }

    .popoEmoji-025 {
      background-position: -0 -528px;
    }

    .popoEmoji-026 {
      background-position: -0 -550px;
    }

    .popoEmoji-027 {
      background-position: -0 -572px;
    }

    .popoEmoji-028 {
      background-position: -0 -594px;
    }

    .popoEmoji-029 {
      background-position: -0 -616px;
    }

    .popoEmoji-030 {
      background-position: -0 -638px;
    }

    .popoEmoji-031 {
      background-position: -0 -660px;
    }

    .popoEmoji-032 {
      background-position: -0 -682px;
    }

    .popoEmoji-034 {
      background-position: -0 -704px;
    }

    .popoEmoji-033 {
      background-position: -0 -726px;
    }

    .popoEmoji-035 {
      background-position: -0 -748px;
    }

    .popoEmoji-036 {
      background-position: -0 -770px;
    }

    .popoEmoji-037 {
      background-position: -0 -792px;
    }

    .popoEmoji-038 {
      background-position: -0 -814px;
    }

    .popoEmoji-039 {
      background-position: -0 -836px;
    }

    .popoEmoji-040 {
      background-position: -0 -858px;
    }

    .popoEmoji-041 {
      background-position: -0 -880px;
    }

    .popoEmoji-042 {
      background-position: -0 -902px;
    }

    .popoEmoji-043 {
      background-position: -0 -924px;
    }

    .popoEmoji-044 {
      background-position: -0 -946px;
    }

    .popoEmoji-045 {
      background-position: -0 -968px;
    }

    .popoEmoji-046 {
      background-position: -0 -990px;
    }

    .popoEmoji-047 {
      background-position: -0 -1056px;
    }

    .popoEmoji-048 {
      background-position: -0 -1012px;
    }

    .popoEmoji-049 {
      background-position: -0 -1078px;
    }

    .popoEmoji-050 {
      background-position: -0 -1034px;
    }

    .popoEmoji-051 {
      background-position: -0 -1100px;
    }

    .popoEmoji-052 {
      background-position: -0 -1122px;
    }

    .popoEmoji-053 {
      background-position: -0 -1188px;
    }

    .popoEmoji-054 {
      background-position: -0 -1144px;
    }

    .popoEmoji-055 {
      background-position: -0 -1166px;
    }

    .popoEmoji-056 {
      background-position: -0 -1210px;
    }

    .popoEmoji-057 {
      background-position: -0 -1232px;
    }

    .popoEmoji-058 {
      background-position: -0 -1254px;
    }

    .popoEmoji-059 {
      background-position: -0 -1276px;
    }

    .popoEmoji-060 {
      background-position: -0 -1298px;
    }

    .popoEmoji-061 {
      background-position: -0 -1320px;
    }

    .popoEmoji-062 {
      background-position: -0 -1342px;
    }

    .popoEmoji-063 {
      background-position: -0 -1364px;
    }

    .popoEmoji-064 {
      background-position: -0 -1386px;
    }

    .popoEmoji-065 {
      background-position: -0 -1408px;
    }

    .popoEmoji-066 {
      background-position: -0 -1430px;
    }

    .popoEmoji-067 {
      background-position: -0 -1452px;
    }

    .popoEmoji-068 {
      background-position: -0 -1474px;
    }

    .popoEmoji-069 {
      background-position: -0 -1496px;
    }

    .popoEmoji-070 {
      background-position: -0 -1518px;
    }

    .popoEmoji-071 {
      background-position: -0 -1540px;
    }

    .popoEmoji-072 {
      background-position: -0 -1562px;
    }

    .popoEmoji-073 {
      background-position: -0 -1584px;
    }

    .popoEmoji-074 {
      background-position: -0 -1606px;
    }

    .popoEmoji-075 {
      background-position: -0 -1628px;
    }

    .popoEmoji-076 {
      background-position: -0 -1650px;
    }

    .popoEmoji-077 {
      background-position: -0 -1672px;
    }

    .popoEmoji-078 {
      background-position: -0 -1694px;
    }

    .popoEmoji-079 {
      background-position: -0 -1716px;
    }

    .popoEmoji-080 {
      background-position: -0 -1738px;
    }

    .popoEmoji-081 {
      background-position: -0 -1760px;
    }

    .popoEmoji-082 {
      background-position: -0 -1782px;
    }

    .popoEmoji-083 {
      background-position: -0 -1804px;
    }

    .popoEmoji-084 {
      background-position: -0 -1826px;
    }

    .popoEmoji-085 {
      background-position: -0 -1848px;
    }

    .popoEmoji-086 {
      background-position: -0 -1870px;
    }

    .popoEmoji-087 {
      background-position: -0 -1892px;
    }

    .popoEmoji-088 {
      background-position: -0 -1914px;
    }

    .popoEmoji-089 {
      background-position: -0 -1936px;
    }

    .popoEmoji-090 {
      background-position: -0 -1958px;
    }

    .popoEmoji-091 {
      background-position: -0 -1980px;
    }

    .popoEmoji-092 {
      background-position: -0 -2002px;
    }

    .popoEmoji-093 {
      background-position: -0 -2024px;
    }

    .popoEmoji-094 {
      background-position: -0 -2046px;
    }

    .popoEmoji-095 {
      background-position: -0 -2068px;
    }

    .popoEmoji-096 {
      background-position: -0 -2090px;
    }

    .popoEmoji-097 {
      background-position: -0 -2112px;
    }

    .popoEmoji-098 {
      background-position: -0 -2134px;
    }

    .popoEmoji-099 {
      background-position: -0 -2156px;
    }

    .popoEmoji-100 {
      background-position: -0 -2178px;
    }

    .popoEmoji-101 {
      background-position: -0 -2200px;
    }

    .popoEmoji-103 {
      background-position: -0 -2222px;
    }

    .popoEmoji-102 {
      background-position: -0 -2244px;
    }

    .popoEmoji-104 {
      background-position: -0 -2266px;
    }

    .popoEmoji-105 {
      background-position: -0 -2288px;
    }

    .popoEmoji-106 {
      background-position: -0 -2310px;
    }
  }
}
/* stylelint-enable */
