/* stylelint-disable */
// iconfont字体定义，内容是从iconfont网站拷贝过来的，不开启代码校验
// TODO 使用自有CDN
@import "../themes/default";
@import "./mixin";

@font-face {
  font-family: "fishdicon";
  src: url('@{fishdicon-url}.eot'); /* IE9*/
  src:
  /* chrome、firefox */
  url('@{fishdicon-url}.woff') format('woff'),
  /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('@{fishdicon-url}.ttf') format('truetype'),
  /* iOS 4.1- */
  url('@{fishdicon-url}.svg#fishdicon') format('svg');
}

.@{iconfont-prefix} {
  .iconfont-mixin();
}

.@{iconfont-prefix}-check-empty:before { content: "\e66f"; }

.@{iconfont-prefix}-check-full:before { content: "\e670"; }

.@{iconfont-prefix}-check-line:before { content: "\e671"; }

.@{iconfont-prefix}-close-circle-fill:before { content: "\e672"; }

.@{iconfont-prefix}-close-modal-line:before { content: "\e673"; }

.@{iconfont-prefix}-close-tag-line:before { content: "\e674"; }

.@{iconfont-prefix}-down-double:before { content: "\e676"; }

.@{iconfont-prefix}-check-half:before { content: "\e67b"; }

.@{iconfont-prefix}-left-double:before { content: "\e67d"; }

.@{iconfont-prefix}-right-double:before { content: "\e67e"; }

.@{iconfont-prefix}-filter:before { content: "\e67f"; }

.@{iconfont-prefix}-up-double:before { content: "\e680"; }

.@{iconfont-prefix}-a-z:before { content: "\e682"; }

.@{iconfont-prefix}-z-a:before { content: "\e685"; }

.@{iconfont-prefix}-date-line:before { content: "\e683"; }

.@{iconfont-prefix}-time-line:before { content: "\e684"; }

.@{iconfont-prefix}-right:before { content: "\e68c"; }

.@{iconfont-prefix}-left:before { content: "\e68d"; }

.@{iconfont-prefix}-down-bolder:before { content: "\e690"; }

.@{iconfont-prefix}-down-fill:before { content: "\e691"; }

.@{iconfont-prefix}-up-fill:before { content: "\e692"; }

.@{iconfont-prefix}-right-fill:before { content: "\e693"; }

.@{iconfont-prefix}-demo-comment:before { content: "\e694"; }

.@{iconfont-prefix}-demo-file:before { content: "\e695"; }

.@{iconfont-prefix}-demo-bargraph:before { content: "\e696"; }

.@{iconfont-prefix}-demo-folder:before { content: "\e697"; }

.@{iconfont-prefix}-demo-grid:before { content: "\e698"; }

.@{iconfont-prefix}-demo-bookmark:before { content: "\e699"; }

.@{iconfont-prefix}-demo-image:before { content: "\e69a"; }

.@{iconfont-prefix}-demo-mail:before { content: "\e69b"; }

.@{iconfont-prefix}-demo-like:before { content: "\e69c"; }

.@{iconfont-prefix}-demo-phone:before { content: "\e69d"; }

.@{iconfont-prefix}-demo-note:before { content: "\e69e"; }

.@{iconfont-prefix}-demo-pie:before { content: "\e69f"; }

.@{iconfont-prefix}-demo-trash:before { content: "\e6a0"; }

.@{iconfont-prefix}-demo-play:before { content: "\e6a1"; }

.@{iconfont-prefix}-stop-line:before { content: "\e6a2"; }

.@{iconfont-prefix}-download-line:before { content: "\e6a3"; }

.@{iconfont-prefix}-load-line:before { content: "\e6a4"; }

.@{iconfont-prefix}-search-line:before { content: "\e6aa"; }

.@{iconfont-prefix}-menu-line:before { content: "\e6ab"; }

.@{iconfont-prefix}-top:before { content: "\e6ac"; }

.@{iconfont-prefix}-bottom:before { content: "\e6ad"; }

.@{iconfont-prefix}-Settingx:before { content: "\e6ae"; }

.@{iconfont-prefix}-hints-descriptions:before { content: "\e6a5"; }

.@{iconfont-prefix}-hints-notification:before { content: "\e6a6"; }

.@{iconfont-prefix}-hints-error:before { content: "\e6a7"; }

.@{iconfont-prefix}-hints-success:before { content: "\e6a8"; }

.@{iconfont-prefix}-hints-warning:before { content: "\e6a9"; }

.@{iconfont-prefix}-hints-alone-error:before { content: "\e6af"; }

.@{iconfont-prefix}-hints-alone-success:before { content: "\e6b0"; }

.@{iconfont-prefix}-watch-line:before { content: "\e6b1"; }

.@{iconfont-prefix}-clip-line:before { content: "\e6b2"; }

.@{iconfont-prefix}-delete-line:before { content: "\e6b3"; }

.@{iconfont-prefix}-upload-line:before { content: "\e6b4"; }

.@{iconfont-prefix}-upload-cloud:before { content: "\e6b5"; }

.@{iconfont-prefix}-upload-plus:before { content: "\e6b6"; }

// fishdicon-spin
.@{iconfont-prefix}-spin:before {
  display: inline-block;
  animation: loadingCircle 1s infinite linear;
}
