/* stylelint-disable */
// iconfont字体定义，内容是从iconfont网站拷贝过来的，不开启代码校验
// TODO 使用自有CDN
@import "../themes/default";
@import "./mixin";

@font-face {
  font-family: "fishdicon";
  src: url('@{icon-url}.eot'); /* IE9*/
  src:
  /* chrome、firefox */
  url('@{icon-url}.woff') format('woff'),
  /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('@{icon-url}.ttf') format('truetype'),
  /* iOS 4.1- */
  url('@{icon-url}.svg#fishdicon') format('svg');
}

.@{iconfont-prefix} {
  .iconfont-mixin();
}

.@{iconfont-prefix}-consult:before { content: "\e62c"; }

.@{iconfont-prefix}-picture:before { content: "\e60c"; }

.@{iconfont-prefix}-paperclip:before { content: "\e641"; }

.@{iconfont-prefix}-xuanzhuan:before { content: "\e676"; }

.@{iconfont-prefix}-dengbi:before { content: "\e61d"; }

.@{iconfont-prefix}-emoticon-smile:before { content: "\e67a"; }

.@{iconfont-prefix}-kequnguanli:before { content: "\e648"; }

.@{iconfont-prefix}-kequndongcha:before { content: "\e649"; }

.@{iconfont-prefix}-shezhi:before { content: "\e64a"; }

.@{iconfont-prefix}-youjiantou:before { content: "\e64b"; }

.@{iconfont-prefix}-zuojiantou:before { content: "\e64c"; }

.@{iconfont-prefix}-shangjiantou:before { content: "\e64f"; }

.@{iconfont-prefix}-xiajiantou:before { content: "\e650"; }

.@{iconfont-prefix}-guanbi:before { content: "\e651"; }

.@{iconfont-prefix}-sousuo:before { content: "\e652"; }

.@{iconfont-prefix}-bianji:before { content: "\e653"; }

.@{iconfont-prefix}-shanchu:before { content: "\e654"; }

.@{iconfont-prefix}-Group:before { content: "\e656"; }

.@{iconfont-prefix}-POI_small:before { content: "\e666"; }

.@{iconfont-prefix}-biaoqian_small:before { content: "\e667"; }

.@{iconfont-prefix}-daorushuju_small:before { content: "\e668"; }

.@{iconfont-prefix}-kequn_small:before { content: "\e66a"; }

.@{iconfont-prefix}-qingkongneirong:before { content: "\e66b"; }

.@{iconfont-prefix}-dingwei:before { content: "\e66c"; }

.@{iconfont-prefix}-ditufangda:before { content: "\e66f"; }

.@{iconfont-prefix}-ditusuoxiao:before { content: "\e670"; }

.@{iconfont-prefix}-shouqi:before { content: "\e671"; }

.@{iconfont-prefix}-zhankai:before { content: "\e672"; }

.@{iconfont-prefix}-zhongzhimima:before { content: "\e673"; }

.@{iconfont-prefix}-duigou:before { content: "\e674"; }

.@{iconfont-prefix}-shangjiantou1:before { content: "\e675"; }

.@{iconfont-prefix}-kequntuozhan:before { content: "\e677"; }

.@{iconfont-prefix}-POI_small_new:before { content: "\e678"; }

.@{iconfont-prefix}-weizhishangbao_small:before { content: "\e679"; }

.@{iconfont-prefix}-eraser:before { content: "\e609"; }

.@{iconfont-prefix}-FontSize:before { content: "\e62d"; }

.@{iconfont-prefix}-guanggaotoufang:before { content: "\e67b"; }

.@{iconfont-prefix}-kequnzuhe:before { content: "\e67c"; }

.@{iconfont-prefix}-toufang:before { content: "\e67d"; }

.@{iconfont-prefix}-color:before { content: "\e600"; }

.@{iconfont-prefix}-kequnjulei:before { content: "\e67e"; }

.@{iconfont-prefix}-siyoubiaoqian:before { content: "\e680"; }

.@{iconfont-prefix}-ArtboardCopy:before { content: "\e681"; }

.@{iconfont-prefix}-zimupaixu:before { content: "\e682"; }

.@{iconfont-prefix}-zimupaixuZdaoA:before { content: "\e683"; }

.@{iconfont-prefix}-zhongxinfasong:before { content: "\e684"; }

.@{iconfont-prefix}-chakandaima:before { content: "\e687"; }

.@{iconfont-prefix}-yonghuhangwei:before { content: "\e688"; }

.@{iconfont-prefix}-duanxin:before { content: "\e68a"; }

.@{iconfont-prefix}-duanxinshouzhong:before { content: "\e68b"; }

.@{iconfont-prefix}-wenjian:before { content: "\e68c"; }

.@{iconfont-prefix}-suoxiao:before { content: "\e61a"; }

.@{iconfont-prefix}-fangda:before { content: "\e61b"; }

.@{iconfont-prefix}-yingxiaoguanli:before { content: "\e68d"; }

.@{iconfont-prefix}-youjiantou1:before { content: "\e68e"; }

.@{iconfont-prefix}-zuojiantou1:before { content: "\e68f"; }

.@{iconfont-prefix}-save:before { content: "\e791"; }

.@{iconfont-prefix}-fullscreen:before { content: "\e7ec"; }

.@{iconfont-prefix}-fullscreen-exit:before { content: "\e7ed"; }

// fishdicon-spin
.@{iconfont-prefix}-spin:before {
  display: inline-block;
  animation: loadingCircle 1s infinite linear;
}

