@import "../../assets/css/lib/ant-theme-vars";
.u-searchInput {
  .ant-input-suffix {
    font-size: 14px;
    font-weight: bold;
    color: #ccc;
    cursor: pointer;
  }
  .u-search-icon-active {
    color: @primary-color;
  }
}
