@import "../../assets/css/lib/ant-theme-vars";
@import "../../assets/css/common/index";

@rich-editor-prefix: m-rich-editor;

// .ql-color {
//   background-image: url(http://www.runoob.com/try/demo_source/paper.gif);
//   svg {
//     display: none;
//   }
// }

// .ql-active {
//   color: initial;
// }

.@{rich-editor-prefix} {
  .hide {
    display: none;
  }

  .editor-head {
    // width: 656px;
    // border: 1px solid #d1d1d1;
    border-bottom: none;
    background: #fafafa;
    padding: 6px 14px;
    white-space: normal;
    display: block;
  }

  .editor-body {
    // width: 656px;
    height: 239px;
  }

  .toolbar-grp {
    display: inline-block;
    float: left;
    margin-right: 10px;

    > .item {
      // width: 28px;
      // height: 24px;
      line-height: 0;
      background: #fff;
      border-right: 1px solid #d5d5d5;
      border-top: 1px solid #d5d5d5;
      border-bottom: 1px solid #d5d5d5;
    }

    > .item:first-child {
      border-left: 1px solid #d5d5d5;
    }
  }

  .custom-size {
    width: 28px;
    height: 24px;
  }

  .custom-size-panel {
    border: 1px solid transparent;
    box-shadow: rgba(0,0,0,0.2) 0 2px 8px;
  }
}
