@import "../../assets/css/lib/ant-theme-vars";
@import "../../assets/css/common/index";

@rich-editor-prefix: m-rich-editor;

// .ql-color {
//   background-image: url(http://www.runoob.com/try/demo_source/paper.gif);
//   svg {
//     display: none;
//   }
// }

// .ql-active {
//   color: initial;
// }

.@{rich-editor-prefix} {
  &-grp {
    display: inline-block;
    float: left;
    border: 1px solid #d5d5d5;
    margin-right: 10px;

    .item {
      line-height: 0;
      background: #fff;
      border: 1px solid #d5d5d5;
    }
  }

}
