.markdown {
  color: #314659;
  font-size: 14px;
  line-height: 2
}

.markdown img {
  max-width: calc(100% - 32px)
}

.markdown p > img {
  margin: 34px 0;
  -webkit-box-shadow: 0 8px 20px rgba(143, 168, 191, .35);
  box-shadow: 0 8px 20px rgba(143, 168, 191, .35)
}

.markdown h1 {
  color: #0d1a26;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 8px;
  font-family: Lato, Monospaced Number, Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: 38px
}

.markdown h1 .subtitle {
  margin-left: 12px
}

.markdown h2 {
  font-size: 24px;
  line-height: 32px
}

.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  color: #0d1a26;
  font-family: Lato, Monospaced Number, Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 1.6em 0 .6em;
  font-weight: 500;
  clear: both
}

.markdown h3 {
  font-size: 18px
}

.markdown h4 {
  font-size: 16px
}

.markdown h5 {
  font-size: 14px
}

.markdown h6 {
  font-size: 12px
}

.markdown hr {
  height: 1px;
  border: 0;
  background: #ebedf0;
  margin: 72px 0;
  clear: both
}

.markdown ul > li {
  list-style-type: circle;
  margin-left: 20px;
  padding-left: 4px
}

.markdown .icon-list > li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.markdown ul > li:empty {
  display: none
}

.markdown ol > li {
  list-style-type: decimal;
  margin-left: 20px;
  padding-left: 4px
}

.markdown ol > li > p,
.markdown ul > li > p {
  margin: .2em 0
}

.markdown pre {
  border-radius: 2px;
  background: #f2f4f5;
}
.markdown pre code {
  border: none;
  background: #f2f4f5;
  margin: 0;
  font-size: 13px;
  color: #314659;
  overflow: auto;
}
.markdown p code {
  border: none;
  background: #f2f4f5;
  margin: 0;
  font-size: 13px;
  color: #314659;
  overflow: auto;
}

.markdown pre span {
  border: none;
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #314659;
  overflow: auto;
  font-family: Menlo, Monaco, Consolas, Courier, monospace;
}

.markdown b,
.markdown strong {
  font-weight: 500
}
.markdown a {
  color: #1890ff;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
  -webkit-text-decoration-skip: objects;
}
.markdown > table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #ebedf0;
  width: 100%;
  margin: 8px 0 16px
}
.markdown > table th {
  white-space: nowrap;
  color: #5c6b77;
  font-weight: 500;
  background: rgba(0, 0, 0, .02)
}

.markdown > table td,
.markdown > table th {
  border: 1px solid #ebedf0;
  padding: 16px 24px;
  text-align: left
}

.markdown h1:hover .anchor,
.markdown h2:hover .anchor,
.markdown h3:hover .anchor,
.markdown h4:hover .anchor,
.markdown h5:hover .anchor,
.markdown h6:hover .anchor {
  opacity: 1;
  display: inline-block
}

.markdown > br,
.markdown > p > br {
  clear: both
}

.timeline {
  font-family: Monospaced Number, Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: rgba(0, 0, 0, .65);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0
}
.timeline,
.timeline-item {
  font-size: 14px;
  list-style: none;
  margin: 0
}
.timeline-item {
  position: relative;
  padding: 0 0 20px
}
.timeline-item-tail {
  position: absolute;
  left: 4px;
  top: .75em;
  height: 100%;
  border-left: 2px solid #e8e8e8
}
.timeline-item-pending .timeline-item-head {
  font-size: 12px
}

.timeline-item-pending .timeline-item-tail {
  display: none
}
.timeline-item-head {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100px;
  border: 2px solid transparent
}

.timeline-item-head-blue {
  border-color: #1890ff;
  color: #1890ff
}

.timeline-item-content {
  padding: 0 0 0 18px;
  position: relative;
  top: -6px
}

.timeline-item-last .timeline-item-tail {
  display: none
}

.timeline-item-last .timeline-item-content {
  min-height: 48px
}

.timeline.timeline-pending .timeline-item-last .timeline-item-tail {
  border-left: 2px dotted #e8e8e8;
  display: block
}

.markdown pre span.cm-tag.cm-bracket {
  color: #999
}

.token.boolean, .token.constant, .token.deleted, .token.number, .token.property, .token.symbol, .token.tag {
  color: #f81d22
}

.language-css .token.string, .style .token.string, .token.attr-name, .token.builtin, .token.char, .token.entity, .token.inserted, .token.operator, .token.selector, .token.string, .token.url {
  color: #0b8235
}

.token.atrule, .token.attr-value, .token.keyword {
  color: #008dff
}

.markdown pre span.cm-variable, .markdown pre span.cm-tag {
  color: #f81d22
}

.token.important, .token.regex, .token.variable {
  color: #e90
}

.token.bold, .token.important {
  font-weight: 700
}

.token.italic {
  font-style: italic
}

.token.entity {
  cursor: help
}
