/* use css to set position of modal */
.vertical-center-modal {
  text-align: center;
  white-space: nowrap;
}

.vertical-center-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.vertical-center-modal .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: left;
}

.vertical-center-modal .ant-modal-content {
  background-color: inherit;
  box-shadow: none;
}

.vertical-center-modal .ant-carousel .slick-slide {
  height: 620px;
  line-height: 620px;
  text-align: center;
  overflow: hidden;
}

.picture-preview-modal-content {
  display: flex;
  .side {
    display: flex;
    align-items: center;
    .iconfont {
      color: #fff;
      font-size: 45px;
      z-index: 10;
      cursor: pointer;
    }
  }
  .middle {
    margin: 0 90px;
    width: 660px;
    height: 660px;
    max-width: 660px;
    max-height: 660px;
    padding: 20px;
    .picture-container {
      display: flex!important;
      width: 660px;
      height: 660px;
      max-width: 660px;
      max-height: 660px;
      align-items: center;
      margin: 0 auto;
      .icon-guanbi {
        position: absolute;
        top: -15px;
        right: -15px;
        display: inline-block;
        text-align: center;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 20px;
        color: #fff;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.4);
        margin: 0 auto;
        z-index: 10;
        cursor: pointer;
      }
    }
  }
}
