// @import "./TreeSelect.less";

// @select-prefix: ~"@{fishd-prefix}-select";
// @select-tree-prefix: ~"@{fishd-prefix}-select-tree";
@select-prefix: ant-select;
@select-tree-prefix: m-select-tree;

/* stylelint-disable declaration-no-important */
.@{select-prefix}-tree-checkbox:hover {
  .@{select-prefix}-tree-checkbox-inner {
    border-color: @primary-color !important;
  }
}

.@{select-prefix}-tree-checkbox-checked .@{select-prefix}-tree-checkbox-inner,
.@{select-prefix}-tree-checkbox-indeterminate .@{select-prefix}-tree-checkbox-inner {
  background-color: @primary-color !important;
  border-color: @primary-color !important;
}

.@{select-prefix}-focused .@{select-prefix}-selection,
.@{select-prefix}-open .@{select-prefix}-selection {
  border-color: @primary-color !important;
  box-shadow: @shadow-1-down !important;
  cursor: pointer;
}

.@{select-prefix}-selection {
  border: @border-width-base @border-style-base @border-color-base;
  border-radius: @border-radius-base;
  box-shadow: none !important;

  &:hover {
    border-color: @primary-color !important;
    cursor: pointer;
  }

  &:active,
  &:focus {
    box-shadow: none !important;
  }
}

.@{select-prefix}-dropdown {
  .hide {
    display: none;
  }

  .select-search-icon {
    position: absolute;
    right: 0;
  }

  .select-clear-icon {
    opacity: 1;
  }

  .@{select-prefix}-search__field__wrap:hover {
    .@{select-prefix}-search__field {
      border-color: @primary-color !important;
    }
  }

  .@{select-prefix}-search__field:focus {
    border-color: @primary-color !important;
  }

  .dropdown-confirm {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    background: @background-color-base;
    overflow: hidden;
  }
}

.@{select-tree-prefix} {
  outline: none !important;

  .hide {
    display: none;
  }
}
/* stylelint-enable */
